<p class="latoBlack font20 prependTop20 appendBottom30">Available Deals</p>
<div class="_AvailableDeals" id="revpg_available_deals">
    <div class="dealRow bdr selectedDeal"><span class="sprite deleteRoomIcon delCouponCode"></span><span class="radioOuter"><input type="radio" id="r1" name="radio-group"><label for="r1"></label></span>
        <div class="appendRight30">
            <p class="grayText font12 appendBottom5"><span class="latoBlack font16 greenText">HTLEC</span></p>
            <p class="font12 grayText">Congratulations! Coupon applied successfully.</p>
        </div><span class="dealApplied latoBold font10 whiteText pushRight">BEST DEAL APPLIED</span></div>
    <div class="dealRow bdr "><span class="radioOuter" id="revpg_deal_coupon_code_radio"><input type="radio" id="r-3" name="radio-group"><label for="r-3"></label></span>
        <div class="dealInput"><input class="txtInput" id="revpg_user_entered_coupon_code" type="text" placeholder="Have a Coupon Code?" value=""></div><span><a class="primaryBtn" id="revpg_coupon_apply_remove_btn">APPLY</a></span></div>
</div>