<div class="paddingLR16 makeFlex btmFooter fixed spaceBetween clearfix hrtlCenter" id="OverlayBtmHeader">
    <div class="btmHeaderLeft">
        <div>
            <p class="font11 lineThrough">₹ 10,700</p>
            <p class="font18 latoBold whiteText makeFlex hrtlCenter"><span>₹ 10,165</span><span class="roomOffers font12"> 1 Offer<span class="whiteArrow appendTop4"></span></span>
            </p>
        </div>
        <p class="latoBold whiteText font11">Per night</p>
    </div>
    <a routerLink="/review-booking">
        <p class="blueBtn pushRight paddingLR20 paddingTB12 latoBold  continueLoader">SELECT ROOM</p>
    </a>
</div>