<div class="_navSticky navSticky">
    <ul id="navSticky">
        <li><a class="navLink active" id="detpg_hotel_rooms" (click)="goToDiv($event)">Rooms</a></li>
        <li><a class="navLink" id="detpg_hotel_facilities" (click)="goToDiv($event)">Facilities</a></li>
        <li><a class="navLink" id="detpg_hotel_location" (click)="goToDiv($event)">Location</a></li>
        <li><a class="navLink" id="detpg_hotel_policies" (click)="goToDiv($event)">Policies</a></li>
        <li><a class="navLink" id="detpg_user_reviews" (click)="goToDiv($event)">Ratings and Reviews</a></li>
    </ul>
</div>